{
	"name":        "<!-- @echo package -->",
	"version":     "<!-- @echo version -->",
	"description": "<!-- @echo description -->",
	"definition":  "<!-- @echo definition -->",
	"homepage":    "<!-- @echo homepage -->",
	"authors":     { "name": "<!-- @echo author -->", "url": "<!-- @echo site -->" },

	"repository":  { "url":   "<!-- @echo repository -->", "type":"git" },
	"bugs":        { "url": "<!-- @echo bugs -->" },
	"license":     "<!-- @echo license_name -->",
	"main":        "dist/<!-- @echo package -->.js",

	"keywords": [
		"javascript",
		"nwayo"
	],

	"ignore": [
		".git",
		"bower_components",
		"dependencies",
		"doc",
		"node_modules",
		"src",
		"test",
		".bowerrc",
		".gitignore",
		"CHANGELOG.md",
		"gruntfile.coffee",
		"gulpfile.js",
		"package.json"
	],

	"devDependencies": {
		"qunit":     "^1.20.0",
		"modernizr": "^3.2.0",
		"lodash":    "^3.10.1"
	},

	"dependencies": {
		"jquery":      "^3.1.1",
		"js-cookie":   "^2.0.4",
		"jquery-json": "^2.6.0"
	}
}
