<p align="center">
	<a href="<!-- @echo homepage -->">
		<img src="<!-- @echo homepage -->/assets/logo-<!-- @echo package -->.svg" width="180" height="180" alt="<!-- @echo package -->">
	</a>
</p>

# <!-- @echo package --> ![Bower version][bower-image] 
#### <!-- @echo description -->
> <!-- @echo definition -->

## Installation
```bash
bower install <!-- @echo package -->
```

## Dependencies
- [jQuery](http://jquery.com/)
- [Lo-Dash](http://lodash.com/)
- [Underscore.string](http://epeli.github.io/underscore.string/)
- [Modernizr](http://modernizr.com/)


## Usage

### Grunt
Use [grunt-includes](https://www.npmjs.org/package/grunt-includes)
```js
options: {
    includeRegexp:  /^\s*\/\/\=\srequire\s'([^']+)'\s*/,
    duplicates:     false,
    filenameSuffix: '.js',
    includePath:    './'
}
```

### Gulp
Use [gulp-include](https://www.npmjs.org/package/gulp-include)
```js
.pipe( include({
	basePath: './',
	autoExtension: true
}) )
```

### Standalone
Use the `//= require 'FILENAME'` in the file header to know which files to include manually.


<!-- @if !doc -->
## Documentation
Visit the [<!-- @echo homepage -->](<!-- @echo homepage -->) website for all the things.
<!-- @endif-->

<!-- @if doc -->
## Sources
Visit the [Github repository](<!-- @echo repo -->) for all the things.
<!-- @endif-->

## Release history
See the [CHANGELOG](<!-- @echo repo_url -->/CHANGELOG.md).

## License 
See the [LICENSE](<!-- @echo repo_url -->/LICENSE.md).


[bower-image]: http://img.shields.io/bower/v/kafe.svg?style=flat
