<img <!-- @if !doc --> align="right"<!-- @endif--> src="<!-- @echo homepage -->/assets/logo-<!-- @echo package -->.png" width="160" height="256" alt="<!-- @echo package -->" />
### <!-- @echo package --> v<!-- @echo version -->
#### <!-- @echo description -->
> <!-- @echo definition -->

<br>

## Quick start

#### Requirements
A jQuery instance that will be copied in <!-- @echo package -->.

```html
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
```

#### With [Grunt](http://gruntjs.com/)
- Take the files under [dist](<!-- @echo repo_url -->/dist) folder and put them in a `libs` folder next to your `gruntfile.js`.
- Use [grunt-includes](https://github.com/vanetix/grunt-includes) with a setup looking like this:

```js
grunt.config.set('includes.<!-- @echo package -->', {
	options: {
		includeRegexp:  /^\s*\/\/\s@import\s'([^\']+)'\s*$/,
		duplicates:     false,
		filenameSuffix: '.js',
		includePath:    './'
	},
	src:  'libs/<!-- @echo package -->/<!-- @echo package -->',
	dest: 'js/<!-- @echo package -->-dist.js'
});
```

#### Standalone
- Take the files under [dist](<!-- @echo repo_url -->/dist) folder and put them in your project.
- Use the `// @import 'FILENAME'` in the files header to know which files to include manually.


<!-- @if !doc -->
## Documentation
Visit the [<!-- @echo homepage -->](<!-- @echo homepage -->) website for all the things.
<!-- @endif-->

<!-- @if doc -->
## Sources
Visit the [Github repository](<!-- @echo repo -->) for all the things.
<!-- @endif-->

## Release history
See the [CHANGELOG](<!-- @echo repo_url -->/CHANGELOG.md).

## License 
See the [LICENSE](<!-- @echo repo_url -->/LICENSE.md).